// 颜色定义
$color-bg: #212121;
$color-bg-d: #303030;
$color-bg-hl: #333;
$color-bg-dl: #666;
$color-theme: #FDD835;
$color-theme-d: rgba(255, 205, 49, .5);
$color-sub-theme: #d93f30;
$color-text: #fff;
$color-text-d: rgba(#fff, .3);
$color-text-l: rgba(#fff, .5);
$color-text-b: rgba(#fff, .8);

// 字体定义
$size-xs: 10px;
$size-sm: 12px;
$size-md: 14px;
$size-bg: 16px;
$size-lg-s: 18px;
$size-lg-m: 20px;
$size-lg-l: 22px;